[submodule "jaeger-idl"]
	path = idl
	url = https://github.com/isaachier/jaeger-idl.git
[submodule "third_party/unity"]
	path = third_party/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "third_party/pcg-c"]
	path = third_party/pcg-c
	url = https://github.com/imneme/pcg-c.git
